<!DOCTYPE html>
<html lang="en-US" class="has-navbar-fixed-top  has-navbar-fixed-bottom">
    {{- partial "head.html" . -}}
    <body>
    	{{- partial "header.html" . -}}
        {{- partial "menu.html" . -}}
        {{- partial "hero.html" . -}}

        <main id="content">
            {{- block "main" . }}
            {{- end }}
        </main>

        <div class="container is-widescreen ">
        {{- partial "testimonials.html" . -}}
        </div>

        <section  class="">
        {{- partial "footer.html" . -}}
        </section>

        {{- partial "script.html" . -}}
    </body>
</html>
