<footer class="footer grynn-footer">
    <div class="container is-widescreen">

        <div class="columns has-text-right">
              <div class="column">
                <div class="columns">
                          <div class="column is-10">
                            <p class="is-family-primary is-size-6 has-text-weight-bold">Grynn - Our customer's #1 Choice</p> <br>
                            <p class="is-size-6">Founded in 2017 by Grynn is highly focused on using  modern technology for acheiving business results. We are a team of supply chain, finance, data and engineers. We specialize in ERPNext deployments & advocate use Free and Open Source Software (FOSS)</p>
                          </div>
                </div>
              </div>
        



            <div class="column">
                  <div class="columns">
                        <div class="column is-10 is-offset-2">
                            <p class="is-family-primary is-size-6 has-text-weight-bold">Opportunities</p>
                            <p class="is-size-6"> Looking to be part of our digital transformation stories? We are looking for energetic, compassionate and passionate interns to develop our sales pipeline & manage our marketing.</p>
                        </div>
                  </div>
              </div>

              <div class="column">
                <div class="columns">
                    <div class="column is-10 is-offset-2"> <a class="button is-large is-fullwidth is-outlined is-family-primary" href="/contact">Get in touch</a> <br> <br> <br></div>
                </div>
              </div>
          </div>

    </div>

    <div class="columns has-text-centered  is-size-12">
      <div class="column is-12">
          <hr/>
      </div>

    </div>
    <div class="columns has-text-centered  is-size-12">
      <div class="column is-12">
          Copyright © 2020 Grynn GmbH
      </div>

    </div>

</footer>

<footer class="footer">
  <div class="container">
    <div class="columns is-desktop">
      <div class="column is-5">
        <h2 class="title is-5"><a href="#">Pied Piper</a></h2>
        <p class="block">Let's get you connected! We've designed a simple, efficient process for companies migrating to PiperNet. Here's how it works.</p>
        <div class="buttons"><a class="button" href="#"><img src="placeholder/icons/twitter.svg" alt=""></a><a class="button" href="#"><img src="placeholder/icons/facebook-f.svg" alt=""></a><a class="button" href="#"><img src="placeholder/icons/instagram.svg" alt=""></a></div>
      </div>
      <div class="column">
        <h3 class="title is-6">Products</h3>
        <ul>
          <li><a href="#">Features</a></li>
          <li><a href="#">Enterprise</a></li>
          <li><a href="#">Support</a></li>
          <li><a href="#">ICO</a></li>
        </ul>
      </div>
      <div class="column">
        <h6 class="title is-6">About Pied Piper</h6>
        <ul>
          <li><a href="#">Our team</a></li>
          <li><a href="#">Careers</a></li>
          <li><a href="#">Press</a></li>
          <li><a href="#">Stores</a></li>
        </ul>
      </div>
      <div class="column">
        <h6 class="title is-6">Contact</h6>
        <ul>
          <li><a href="#">pay-the-piper@piedpiper.com</a></li>
          <li><a href="#">555-05-555</a></li>
          <li><a href="#">Pied Piper HQ - 59 Silicon Av.</a></li>
        </ul>
      </div>
    </div>
    <hr>
    <div class="columns">
      <div class="column"><a href="#">Terms and conditions</a></div>
      <div class="column has-text-right-tablet">
        <p class="subtitle is-6">© 2019 Pied Piper. All right reserved.</p>
      </div>
    </div>
  </div>
</footer>
