<section class="hero is-info is-large" style="background: url(&quot;/_gen/images/japanese-waves-website.jpg/&quot;) 0% 0% / cover repeat scroll padding-box border-box rgba(0, 0, 0, 0);" >
  <div class="hero-body grynn-hero">
    <div class="container has-text-centered">
      
      <h1 class="title">{{ .Params.hero_title}} <br /></h1>

      <h2 class="subtitle">{{ .Params.hero_subtitle}} <br /></h2>

      <div class="buttons is-centered"><a class="button is-primary" href="#">Read more »</a></div>
    </div>
  </div>
</section>
