    <!-- PAGE FOOTER -->
    <footer>
      <div class="main-content">
        <div class="top">
          <!-- FOOTER MENU -->
          <nav class="nav">
            <ul>
              <li><a href="#">Potápění</a></li>
              <li><a href="#">Plavání</a></li>
              <li><a href="#">Oblečení</a></li>
              <li><a href="#">Doplňky</a></li>
              <li><a href="#">Kurzy</a></li>
              <li><a href="#">Zájezdy</a></li>
            </ul>
          </nav>
          <!-- FOOTER MENU -->
        </div>
        <div class="bottom">
          <div class="left">
            <!-- FOOTER BOTTOM MENU -->
            <nav class="nav">
              <ul>
                <li><a href="#">Privacy policy</a></li>
                <li><a href="#">Cookies policy</a></li>
              </ul>
            </nav>
            <!-- FOOTER BOTTOM MENU -->
          </div>
          <div class="right">
            <a href="index.html"><img src="img/logo.svg" alt="logo" /></a>
            <div>&copy;2020 APNEAMAN</div>
          </div>
        </div>
      </div>
    </footer>
    <!-- PAGE FOOTER -->
    
  </body>
  </html>
  
