<!DOCTYPE html>
<html lang="en">
  <head>
    <base href="" />
    <title>729 Mustang Fins | Apneaman</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="Extremely fast, thrilling as no one other in the carbon fiber fin category the 729 MUSTANG embodies the best of what fins can offer the most discerning breath hold diver in terms of performance, efficacy and speed."
    />
    <link rel="apple-touch-icon" sizes="180x180" href="img/favicon/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="img/favicon/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="img/favicon/favicon-16x16.png" />
    <link rel="manifest" href="img/favicon/site.webmanifest" />
    <link rel="mask-icon" href="img/favicon/safari-pinned-tab.svg" color="#1d104d" />
    <link rel="shortcut icon" href="img/favicon/favicon.ico" />
    <meta name="msapplication-TileColor" content="#1d104d" />
    <meta name="msapplication-config" content="img/favicon/browserconfig.xml" />
    <meta name="theme-color" content="#1d104d" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="css/main.min.css?v=200528" />
  </head>
