    <!-- PAGE HEADER -->
    <header>
      <!-- HEADER TOP LINE -->
      <div class="top">
        <div class="main-content">
          <nav class="nav top-menu">
            <ul>
              <li><a href="#">Contact Us</a></li>
            </ul>
          </nav>
          <div class="currency">
            <div class="select">
              <select name="currency">
                <option value="CZK">CZK</option>
                <option value="USD">USD</option>
                <option value="EUR" selected>EUR</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <!-- HEADER TOP LINE -->
      <!-- HEADER MAIN PART -->
      <div class="main">
        <div class="main-content">
          <!-- BRAND -->
          <div class="brand">
            <a href="index.html">
              <img src="/apneaman/img/logo-text.svg" alt="logo" />
            </a>
          </div>
          <!-- BRAND -->
          <!-- CATEGORY MENU -->
          <div id="category-menu-toggle" class="category-menu-toggle">
            <button>&#9776;</button>
          </div>
          <nav class="nav category-menu">
            <ul>
              <li><a class="active" href="#">Freediving</a></li>
              <li><a href="#">Snorcheling</a></li>
              <li><a href="#">Swimming</a></li>
              <li><a href="#">Clothes</a></li>
              <li><a href="#">Accessories</a></li>
            </ul>
          </nav>
          <!-- CATEGORY MENU -->
          <!-- SIDE ICONS -->
          <nav class="nav icons">
            <ul>
              <li>
                <a href="#" title="search">
                  <img src="/apneaman/img/icons/search.svg" alt="search icon" />
                </a>
              </li>
              <li>
                <a href="#" title="login or create account">
                  <img src="/apneaman/img/icons/user.svg" alt="user icon" />
                  <span class="badge">1</span>
                </a>
              </li>
              <li>
                <a href="#" title="favourites">
                  <img src="/apneaman/img/icons/heart.svg" alt="heart icon" />
                  <span class="badge">26</span>
                </a>
              </li>
              <li>
                <a href="#" title="cart">
                  <img src="/apneaman/img/icons/bag.svg" alt="bag icon" />
                </a>
              </li>
            </ul>
          </nav>
          <!-- SIDE ICONS -->
        </div>
      </div>
      <!-- HEADER MAIN PART -->
    </header>
    <!-- PAGE HEADER -->