        <!-- SIMILAR PRODUCT -->
        <section class="products">
          <header><h2>Similar products</h2></header>
          <div class="myslick left-align-slick two-or-more-slides">
            <div class="myslick-slide">
              <a class="product-link" href="#">
                <div class="image">
                  <img src="img/products/p-0001-01.jpg" alt="729 Mustang Fins" />
                </div>
                <div class="info">
                  <h3>729 Mustang Fins Black</h3>
                  <div class="brand">Apneaman</div>
                  <div class="price">9 990 Kč</div>
                </div>
              </a>
              <a class="favourite-link active" href="#favourite">
                <img class="nohover" src="img/icons/favourite-heart.svg" alt="heart" />
                <img class="hover" src="img/icons/favourite-heart-blue.svg" alt="blue heart" />
              </a>
            </div>
            <div class="myslick-slide">
              <a class="product-link" href="#">
                <div class="image">
                  <img src="img/products/p-0001-02.jpg" alt="729 Mustang Fins" />
                </div>
                <div class="info">
                  <h3>729 Mustang Fins Black</h3>
                  <div class="brand">Apneaman</div>
                  <div class="price">9 990 Kč</div>
                </div>
              </a>
              <a class="favourite-link" href="#favourite">
                <img class="nohover" src="img/icons/favourite-heart.svg" alt="heart" />
                <img class="hover" src="img/icons/favourite-heart-blue.svg" alt="blue heart" />
              </a>
            </div>
            <div class="myslick-slide">
              <a class="product-link" href="#">
                <div class="image">
                  <img src="img/products/p-0001-03.jpg" alt="729 Mustang Fins" />
                </div>
                <div class="info">
                  <h3>729 Mustang Fins Black</h3>
                  <div class="brand">Apneaman</div>
                  <div class="price">9 990 Kč</div>
                </div>
              </a>
              <a class="favourite-link" href="#favourite">
                <img class="nohover" src="img/icons/favourite-heart.svg" alt="heart" />
                <img class="hover" src="img/icons/favourite-heart-blue.svg" alt="blue heart" />
              </a>
            </div>
            <div class="myslick-slide">
              <a class="product-link" href="#">
                <div class="image">
                  <img src="img/products/p-0001-00.jpg" alt="729 Mustang Fins" />
                </div>
                <div class="info">
                  <h3>729 Mustang Fins Black</h3>
                  <div class="brand">Apneaman</div>
                  <div class="price">9 990 Kč</div>
                </div>
              </a>
              <a class="favourite-link" href="#favourite">
                <img class="nohover" src="img/icons/favourite-heart.svg" alt="heart" />
                <img class="hover" src="img/icons/favourite-heart-blue.svg" alt="blue heart" />
              </a>
            </div>
          </div>
        </section>
        <!-- SIMILAR PRODUCT -->