<br/>
<h1>this comes from /partials/testimonial.html</h1>
<br/>

  <section class="section">
    <div class="container" style="margin-top: 50px;margin-bottom: 50px;">
       <div class="columns is-left is-vcentered">
         <div class="column"><img src="https://res.cloudinary.com/grynn-gmbh/image/upload/t_testimonial_550/v1592301381/v3tech/WhatsApp_Image_2020-04-27_at_10.56.00_PM-removebg_2_gfowqa.png" alt="image of rashmi acharya"></div>
         <div class="column">
           <div class="content" style="margin-top: 1pc;">
             <h2 class="title" style="font-size: 3pc; color: #5e548e; margin-top: 3pc;">Grynn helps V3Tech during hyper-growth!</h2>
             <blockquote> 
               <p style="font-size: 2pc; color: #5e548e;">“We are now rolling this across 2 more locations and across all functions. Grynn  helped us get it right!” </p> 
               <p style="font-size: 2pc;"> </p> 
             </blockquote>
             <cite>
               <h5 class="title is-5" style="font-size: 2pc; color: #5e548e;"> Rashmi Acharya</h5>
               <p class="subtitle" style="font-size: 2pc; color: #5e548e;"> Finance Director at V3 Tech </p>
             </cite>
           </div>
         </div>
       </div>
     </div>
   </section>

    