{{ define "main" }}
<main>
<div class="container">
    <ul>
         {{ range .Pages }}
             <li>
                 <a href="{{.Permalink}}">{{.Date.Format "2020-01-02"}} | {{.Params.herotitle}}</a>
                 <h3 class="title grynn-hero-font-title">{{ .URL | safeHTML }} xx<br /></h3>
                 <h2 class="subtitle grynn-hero-font-subtitle">{{ .Params.product_name | safeHTML }} yy<br /></h2>
                 <h2 class="subtitle grynn-hero-font-subtitle">{{ .Params.product_filename | safeHTML }}  <br /></h2>
             </li>
         {{ end }}
     </ul> 
 </div>
</main>
{{ end }}