{{ define "main" }}
<section class="section">
   <div class="container" style="margin-top: 50px;margin-bottom: 50px;">
      <div class="columns is-left is-vcentered">
        <div class="column"><img src="/rashmi-v3.png" alt="image of rashmi acharya"></div>
        <div class="column">
          <div class="content" style="margin-top: 1pc;">
            <h2 class="title" style="font-size: 3pc; color: #5e548e; margin-top: 3pc;">Grynn helps V3Tech during hyper-growth!</h2>
            <blockquote> 
              <p style="font-size: 2pc; color: #5e548e;">“We are now rolling this across 2 more locations and across all functions. Grynn  helped us get it right!” </p> 
              <p style="font-size: 2pc;"> </p> 
            </blockquote>
            <cite>
              <h5 class="title is-5" style="font-size: 2pc; color: #5e548e;"> Rashmi Acharya</h5>
              <p class="subtitle" style="font-size: 2pc; color: #5e548e;"> Finance Director at V3 Tech </p>
            </cite>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="hero" style="background-color:#ededed; padding-top:40px; padding-bottom:80px;">
    <div class="hero-body">
      <div class="container has-text-centered" style="margin:0px,0px,0px,0px;">
        <h2 class="subtitle" style="font-size: 4pc; color: #5e548e; margin-top: 3pc; font-weight: bold;">ERPNext Powers 1000s of businesses <br/>around the world</h2>
        <br/><br/>
        <div class="column">
            <img width="900px" src="/customer-logos.png" alt="list of companies using"></div>
        <br/><br/>
        <cite > 
           <p class="subtitle" style="font-size: 1pc; color: #5e548e;"> source: erpnext.com</p>
       </cite>
      </div>
    </div>
  </section>

  {{ end }}


  